body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #020617;
  color: white;
  overflow: hidden; 
}

#telaInicial{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#020617, #0f172a);
}

#telaInicial h1{
  font-size: 60px;
  color: #38bdf8;
  animation: piscar 2s infinite;
}


#jogo {
  display: none;
  height: 100vh;
  box-sizing: border-box;
}

header{
  text-align: center;
  padding: 10px 20px; 
}

header h1 {
  margin: 5px 0;
  font-size: 28px; 
}

.placar{
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
  margin: 5px 0;
}

.placar p {
  margin: 0;
}


.area-jogo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 10px;
}


.carta{
  width: 280px;        
  min-height: 340px;   
  background: #1e293b;
  border: 3px solid #38bdf8;
  border-radius: 25px;
  padding: 15px;       
  position: relative;
  transition: 0.3s;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.carta p {
  margin: 12px 0;     
  font-size: 15px;
}

.carta:hover{
  transform: scale(1.03);
}

.raridade{
  position: absolute;
  top: 10px;
  right: 10px;
  background: gold;
  color: black;
  padding: 4px 8px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 13px;
}

.carta h2{
  color: #facc15;
  margin-top: 5px;
  font-size: 22px;
}

.vs{
  font-size: 40px;     
  font-weight: bold;
  color: #38bdf8;
}

.botoes{
  text-align: center;
  margin-top: 15px;    
}


button{
  padding: 10px 20px;  
  margin: 5px;         
  border: none;
  border-radius: 12px;
  font-size: 16px;     
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  transform: scale(1.05);
}

.proxima{
  background: #22c55e;
  color: white;
  display: block;
  margin: 10px auto;   
}

#resultado{
  text-align: center;
  margin-top: 10px;    
  font-size: 20px;
  color: #facc15;
  min-height: 30px;   
}

@keyframes piscar{
  0%{ opacity: 1; }
  50%{ opacity: 0.5; }
  100%{ opacity: 1; }
}
